<template name="personItem">
<li class="m-pages__page page {{activePage person.slug}}" id="{{person.slug}}" data-page-url="{{path}}" data-name="{{person.name}}" style="overflow:auto">
	{{#with person}}
	
	<div class="l-content-wrap">
	    <article class="m-person tier_1">
	      <div class="m-person__headshot">
	<span class="picturefill" data-alt="Elon Musk" data-picture="">

	  <span data-src="http://ea-cdn.voxmedia.com/production/verge-fifty/images/people/elon-musk/small-d9d1f823.jpg"></span>
	  <span data-src="http://ea-cdn.voxmedia.com/production/verge-fifty/images/people/elon-musk/small@2x-4e0c200e.jpg" data-media="(max-width: 720px) and (-webkit-min-device-pixel-ratio: 1.3), (max-width: 720px) and (min-device-pixel-ratio: 1.3), (max-width: 720px) and (min-resolution: '124.8dpi')"></span>

	  <span data-src="http://ea-cdn.voxmedia.com/production/verge-fifty/images/people/elon-musk/medium-a13a522a.jpg" data-media="(min-width: 720px) and (max-width: 975px)"><img alt="{{firstName}}" src="/img/{{thumb}}" style="opacity: 1;"></span>
	  <span data-src="http://ea-cdn.voxmedia.com/production/verge-fifty/images/people/elon-musk/medium@2x-8f21a09c.jpg" data-media="(min-width: 720px) and (max-width: 975px) and (-webkit-min-device-pixel-ratio: 1.3), (min-width: 720px) and (max-width: 975px) and (min-device-pixel-ratio: 1.3), (min-width: 720px) and (max-width: 975px) and (min-resolution: '124.8dpi')"></span>

	  <span data-src="http://ea-cdn.voxmedia.com/production/verge-fifty/images/people/elon-musk/large-44d8b63f.jpg" data-media="(min-width: 975px)"></span>
	  <span data-src="http://ea-cdn.voxmedia.com/production/verge-fifty/images/people/elon-musk/large@2x-4a1cac28.jpg" data-media="(min-width: 975px) and (-webkit-min-device-pixel-ratio: 1.3), (min-width: 975px) and (min-device-pixel-ratio: 1.3), (min-width: 975px) and (min-resolution: '124.8dpi')"></span>
	  
	  <noscript>
	      &lt;img src="/img/nasha-transparent.png" alt="Elon Musk" /&gt;
	  </noscript>
	</span>
	</div>

	      <div class="m-person__content">
	        <header class="m-person__header">
	          <div class="m-person__position"><span>{{position}}</span></div>
	          <div class="m-person__name">
	            <h2 class="">{{firstName}}</h2>
	          </div>
	          <div class="m-person__category"><span>{{category}}</span></div>
	        </header>

	        <aside class="m-person__info">
	          <h3 class="m-person__titles">Title: </h3>
	          
	            <p>Age:</p>
	          
	          <ul class="m-person__achievements">
	            
	              <li></li>
	            
	              <li> Achievement </li>
	            
	              <li> CEO and CTO, Achievement </li>
	            
	              <li> Co-founder, Achievement </li>
	            
	              <li> Net Worth: Achievement</li>
	            
	          </ul>
	        </aside>

	        <div class="m-person__blurb">
	          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget porttitor orci. Duis ac lacinia nulla. Aliquam semper tortor neque. Nunc convallis elit non augue tempor interdum. Duis et suscipit quam. Morbi sapien mauris, laoreet et dui et, facilisis congue enim. Etiam commodo porta nulla, nec egestas mi efficitur at. Sed vel venenatis lectus. Sed bibendum urna at purus sollicitudin fringilla. Sed pulvinar nibh id aliquam rhoncus. Morbi interdum mi ut placerat mollis. In at erat ac arcu bibendum blandit non et ligula.<br/>

Etiam vitae massa justo. Etiam libero risus, tempus ac lorem sed, commodo volutpat dolor. Fusce at viverra augue. Nulla scelerisque ornare porta. Nulla facilisi. Nam fringilla sapien at dui ultricies interdum. Donec quis massa vitae risus ultrices pulvinar a ac ex. Curabitur a ipsum ac urna gravida scelerisque. Pellentesque id porttitor risus. Morbi condimentum mi lectus, eget ultrices lorem dignissim a. Etiam rhoncus nulla quis interdum porta. Praesent scelerisque dolor non egestas semper. Donec laoreet lacinia lectus, sit amet consequat arcu vulputate non. Nam ultrices nisl tellus, ornare eleifend nisi ullamcorper sed.</p>
	        </div>

	        <div class="m-person__share">
	          <h4>Share</h4>
	          <div class="m-person__share-buttons">
	            <a class="m-person__twitter" title="Share {{firstName}}'s VG 20 profile on Twitter" data-social="Twitter" data-shared="{{firstName}}" href="https://twitter.com/share?url=http%3A%2F%2Fvg20.vgbots.com%2Fa%2Fvg-20-%2&amp;via=vgbots&amp;text=Coming+Soon">Twitter</a>
	            <a class="m-person__facebook" title="Share Elon Musk's The Verge 50 profile on Facebook" data-social="Facebook" data-shared="{{firstName}}" href="#">Facebook</a>
	            <a class="m-person__google" title="" data-social="Google+" data-shared="{{firstName}}" href="#">Google</a>
	          </div>
	        </div>
	      </div>
	    </article>
	  </div>

	{{/with}}
</li>
</template>