<template name="appBody">
	<header class="m-header">
  <a class="m-header__nav-toggle" href="#">Menu</a>
  <!-- <h1 class="m-header__logo cover-link"><a href="#">VGBots • 20</a></h1> -->
  <div class="m-header__buttons">
    <a class="m-header__twitter" data-social="Twitter" data-shared="" href="#">Twitter</a>
    <a class="m-header__facebook" data-social="Facebook" data-shared="" href="#">Facebook</a>
    <a class="m-header__google" data-social="Google+" data-shared="" href="#">Google</a>
    <a class="m-header__previous nav-previous" href="#">Previous</a>
    <a class="m-header__next nav-next" href="#">Next</a>
  </div>
</header>
{{> yield}}
</template>