<template name="appBody">
	<header class="m-header">
  <a class="m-header__nav-toggle" href="#">Menu</a>
  <h1 class="m-header__logo cover-link"><a href="#">The Verge • Fifty</a></h1>
  <div class="m-samsung-stb">
  <a href="#">
    <span data-picture="" data-alt="Presented by Samsung Galaxy Note 3 + Gear">

      <span data-src="http://ea-cdn.voxmedia.com/production/verge-fifty/images/samsung-stb-d977e97a.png"><img alt="Presented by Samsung Galaxy Note 3 + Gear" src="http://ea-cdn.voxmedia.com/production/verge-fifty/images/samsung-stb-d977e97a.png" style="opacity: 1;"></span>
      <span data-src="http://ea-cdn.voxmedia.com/production/verge-fifty/images/samsung-stb@2x-95096910.png" data-media="(-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: '124.8dpi')"></span>
      
      <noscript>
          &lt;img src="http://ea-cdn.voxmedia.com/production/verge-fifty/images/samsung-stb-d977e97a.png" alt="Presented by Samsung Galaxy Note 3 + Gear" /&gt;
      </noscript>
    </span>
  </a>
  <img src="http://ad.doubleclick.net/ad/N4478.896837.THEVERGE.COM/B7887363.28;sz=1x1;pc=%5BTPAS_ID%5D;ord=%5Btimestamp%5D">
</div>

  <div class="m-header__buttons">
    <a class="m-header__twitter" data-social="Twitter" data-shared="The Verge 50" href="https://twitter.com/share?url=http%3A%2F%2Fwww.theverge.com%2Fa%2Fthe-verge-50&amp;via=verge&amp;text=The+Verge+50">Twitter</a>
    <a class="m-header__facebook" data-social="Facebook" data-shared="The Verge 50" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.theverge.com%2Fa%2Fthe-verge-50">Facebook</a>
    <a class="m-header__google" data-social="Google+" data-shared="The Verge 50" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.theverge.com%2Fa%2Fthe-verge-50">Google</a>
    <a class="m-header__previous nav-previous" href="#">Previous</a>
    <a class="m-header__next nav-next" href="#">Next</a>
  </div>
</header>
{{> yield}}
</template>