<template name="home">
	<div class="l-outer-wrap">
      <div class="l-inner-wrap">
        <nav class="m-nav" style="overflow-y: auto;">
		  <ol class="m-nav__list">
		    <li class="m-nav__list-item"><a href="http://www.theverge.com" class="main-verge-link">Back to The Verge</a></li>
		    <li class="m-nav__list-item cover-link"><a href="http://www.theverge.com/a/the-verge-50">Cover</a></li>
		    <li class="m-nav__list-item"><a href="intro" data-page="intro">Introduction</a></li>
		  </ol>
		  
		    <h2 class="m-nav__category">The World Changers</h2>
		    <ol class="m-nav__list">
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/jeff-bezos" data-page="jeff-bezos">Jeff Bezos</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/reed-hastings" data-page="reed-hastings">Reed Hastings</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/dr-luke" data-page="dr-luke">Dr. Luke</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/elon-musk" data-page="elon-musk">Elon Musk</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/edward-snowden" data-page="edward-snowden">Edward Snowden</a></li>
		      
		    </ol>
		  
		    <h2 class="m-nav__category">The Dreamers</h2>
		    <ol class="m-nav__list">
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/charles-bolden" data-page="charles-bolden">Charles Bolden</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/david-chang" data-page="david-chang">David Chang</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/zaha-hadid" data-page="zaha-hadid">Zaha Hadid</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/notch" data-page="notch">Markus “Notch” Persson</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/astro-teller" data-page="astro-teller">Astro Teller</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/richard-turley" data-page="richard-turley">Richard Turley</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/brian-k-vaughan" data-page="brian-k-vaughan">Brian K. Vaughan</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/anne-wojcicki" data-page="anne-wojcicki">Anne Wojcicki</a></li>
		      
		    </ol>
		  
		    <h2 class="m-nav__category">The Noisemakers</h2>
		    <ol class="m-nav__list">
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/wendy-davis" data-page="wendy-davis">Wendy Davis</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/paul-rieckhoff" data-page="paul-rieckhoff">Paul Rieckhoff</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/pussy-riot" data-page="pussy-riot">Pussy Riot</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/juliana-rotich" data-page="juliana-rotich">Juliana Rotich</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/nate-silver" data-page="nate-silver">Nate Silver</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/neil-degrasse-tyson" data-page="neil-degrasse-tyson">Neil deGrasse Tyson</a></li>
		      
		    </ol>
		  
		    <h2 class="m-nav__category">The Informers</h2>
		    <ol class="m-nav__list">
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/alexa-obrien" data-page="alexa-obrien">Alexa O’Brien</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/adrian-chen" data-page="adrian-chen">Adrian Chen</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/teju-cole" data-page="teju-cole">Teju Cole</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/glenn-greenwald" data-page="glenn-greenwald">Glenn Greenwald</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/mia-lundstrom" data-page="mia-lundstrom">Mia Lundström</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/emily-nussbaum" data-page="emily-nussbaum">Emily Nussbaum</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/laura-poitras" data-page="laura-poitras">Laura Poitras</a></li>
		      
		    </ol>
		  
		    <h2 class="m-nav__category">The Entertainers</h2>
		    <ol class="m-nav__list">
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/bryan-cranston" data-page="bryan-cranston">Bryan Cranston</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/benedict-cumberbatch" data-page="benedict-cumberbatch">Benedict Cumberbatch</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/lena-dunham" data-page="lena-dunham">Lena Dunham</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/jimmy-fallon" data-page="jimmy-fallon">Jimmy Fallon</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/rian-johnson" data-page="rian-johnson">Rian Johnson</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/steven-moffat" data-page="steven-moffat">Steven Moffat</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/janelle-monae" data-page="janelle-monae">Janelle Monáe</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/tig-notaro" data-page="tig-notaro">Tig Notaro</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/pendleton-ward" data-page="pendleton-ward">Pendleton Ward</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/kanye-west" data-page="kanye-west">Kanye West</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/joss-whedon" data-page="joss-whedon">Joss Whedon</a></li>
		      
		    </ol>
		  
		    <h2 class="m-nav__category">The Old Guard</h2>
		    <ol class="m-nav__list">
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/regina-dugan" data-page="regina-dugan">Regina Dugan</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/jonathan-ive" data-page="jonathan-ive">Jonathan Ive</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/marissa-mayer" data-page="marissa-mayer">Marissa Mayer</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/sundar-pichai" data-page="sundar-pichai">Sundar Pichai</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/sheryl-sandberg" data-page="sheryl-sandberg">Sheryl Sandberg</a></li>
		      
		    </ol>
		  
		    <h2 class="m-nav__category">The Next Wave</h2>
		    <ol class="m-nav__list">
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/jack-dorsey" data-page="jack-dorsey">Jack Dorsey</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/daniel-ek" data-page="daniel-ek">Daniel Ek</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/tavi-gevinson" data-page="tavi-gevinson">Tavi Gevinson</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/chet-kanojia" data-page="chet-kanojia">Chet Kanojia</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/david-karp" data-page="david-karp">David Karp</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/palmer-luckey" data-page="palmer-luckey">Palmer Luckey</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/satoshi-nakamoto" data-page="satoshi-nakamoto">Satoshi Nakamoto</a></li>
		      
		        <li class="m-nav__list-item"><a href="/a/the-verge-50/snapchat" data-page="snapchat">Bobby Murphy and Evan Spiegel</a></li>
		      
		    </ol>
		  
		  <ol class="m-nav__list bottom">
		    <li class="m-nav__list-item"><a href="the-list" data-page="the-list">The Fifty</a></li>
		    <li class="m-nav__list-item"><a href="credits" data-page="credits">Credits</a></li>
		  </ol>
		</nav>

        <a href="#" class="m-pages__nav previous nav-previous">Previous</a>
        <ol class="m-pages">
		{{#each the50}}
            {{> personItem person=this size='large'}}
		{{/each}}
		</ol>
		<a href="#" class="m-pages__nav next nav-next">Next</a>
      </div>
    </div>
	
</template>